@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap%27');

body {
    margin: 0px;
    background-color: #ffffff;
}

.hero-image{
    margin: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.dropbtn {
  font-family: 'Poppins', sans-serif;
  position: absolute;
  background-color: #ffd000;
  color: rgb(0, 0, 0);
  padding: 16px;
  margin-left: 35px;
  font-size: 16px;
  border-radius: 0px 0px 7px 7px;
  border: none;
  transition: 200ms;
}

.dropdown-content {
  font-family: 'Poppins', sans-serif;
  display: none;
  position: absolute;
  margin-left: 35px;
  margin-top: 55px;
  background-color: #f1f1f1;
  min-width: 75px;
  border-radius: 7px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 5px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd; border-radius: 7px;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #ffd000;}

.topnav {
  position: absolute;
  overflow: hidden;
  width: 100%;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  transform: scale(0.9);
} 
.topnav a {
  margin-right: 10px;
  color: #000000;
  padding: 17px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #000000;
  color: white;
}

.topnav-right {
  float: right;
}
.navbar a{
  margin-right: 10px;
  color: #000000;
  padding: 17px;
  text-decoration: none;
  font-size: 17px;
  float: right;
}

.topnav a {
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  color: #ffffff;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-left: 25px;
  text-decoration: none;
  font-size: 21px;
  font-weight: 500;
  border-radius: 7px;
  transition: 200ms;
}

.topnav a:hover {
  color: white;
  background-color: #ffd000;

}

.topnav a.active {
  background-color: #000000;
  color: white;
}

.topnav-right {
  float: right;
}

.navbar a{
  font-family: 'Poppins', sans-serif;
  margin-right: 10px;
  color: #ffffff;
  padding: 17px;
  text-decoration: none;
  font-size: 17px;
  float: right;
}

.navbar{
  background-color: #000000;
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 2;
  position: sticky;
  margin-right: 20px;
}

.footer {
  width: 100%;
  height: 300px;
}

.home-page{
    width: 100%;
}

.positie{
  background-color: #ffd000;
  height: 700px;
  margin-top: 10%;
}

.margin-yellow{
  width: 100%;
  height: 1px;
}

.events-page{
  width: 100%;
}

.mapouter{
  position: relative;
  margin: 99px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.486);
}

.testamonial{
  width: 100%;
  height: 1000px;
}

.sponsors{
  background-color: #ffd000;
  height: 900px;
}


.home-text {
  position: absolute;
  margin-left: 20%;
  margin-top: 17%; 
  padding-bottom: 20px;
  padding-left: 15px;
  font-size: 25px;
  border-radius: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold 700px;
  color: rgb(255, 255, 255);


}

.home-text h1 {
  margin-bottom: -15px;
  margin-top: 10px;
  color: #ffd000;
}

.home-text p {
  max-width: 500px;
}

.button-cantine {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: black;
  background-color: #ffd000;
  padding: 10px;
  border-radius: 7px;
  transition: 200ms;
}

.button-cantine:hover {
  background-color: #ffae00;
}

.button-doe-mee{
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: black;
  background-color: #CAD3C8;
  padding: 10px;
  border-radius: 7px;
  transition: 200ms;
}

.button-doe-mee:hover {
  background-color: #979797;
}

.scroll-down-icon{
  position: absolute;
  z-index: 2;
  margin-top: 44%;
  text-align: center;
  transition-duration: 500ms;
}

.scroll-down-icon:hover{
  margin-top: 43%;
}

.head{
  position: absolute;
  font: 900 bold;
  font-family: "Poppins",sans-serif;
  margin-left: 7%;
  color: white;
  font-size: 20px;
  margin-top: -20px;
}

.navbar-links{
  position: absolute;
  font: 900 bold;
  font-family: "Poppins",sans-serif;
  margin-left: 1%;
  color: white;
  font-size: 15px;
  margin-top: -12px;
}

.navbar a:hover{
background-color: rgb(148, 148, 148);
}

.footer{
  justify-content: space-around;
  background-color: #006266;
  display: flex;
  flex-direction: row;
  box-shadow: 2px -3px 26px 9px rgba(0,0,0,0.47);
  font: medium;
}

.text-container-footer{
  margin-left: 17%;
  font-family: 'Poppins', sans-serif;
}
.what-to-do {
  width: 100%;

}

.text_whatis {
  position: absolute;
  text-transform: uppercase;
  font-family: "Poppins",sans-serif;
  margin-left: 5%;
  margin-top: 15%;
  width: 35%;

}

.photo_what img {
  border-radius: 7px;
  box-shadow: 0px 6px 15px 5px rgba(0,0,0,0.24);

}

.photo_what2 img {
  border-radius: 7px;
  box-shadow: 0px 6px 15px 5px rgba(0,0,0,0.24);

}

.phtxt_what {
  width: 20%;

}


.photo_what {
  position: absolute;
  margin-left: 45%;
  margin-top: 5%;

}

.photo_what2 {
  position: absolute;
  margin-left: 55%;
  margin-top: 35%;


}

.text_what {
  font-family: "Poppins",sans-serif;
  position: absolute;
  margin-left: 45%;
  margin-top: 25%;
  color: #95a5a6;

}

.text_what2 {
  font-family: "Poppins",sans-serif;
  position: absolute;
  margin-left: 55%;
  margin-top: 56%;
  color: #95a5a6;

}

.text_what h1, .text_what2 {
  text-transform: uppercase;

}

.text_map {
  font-family: "Poppins",sans-serif;
  color: black;
  position: absolute;
  width: 20%;
  margin-left: 70%;
  margin-top: 15%;

}

.header_text {
  display: flex;
  justify-content: center;
  font-family: "Poppins",sans-serif;
  color: black;
  margin-top: 5%;

}

.profile_area {
  width: 20%;
  transform: scale(0.9);

}

.profile_area img {
  margin-left: 30%;

}

.text_profile {
  font-family: "Poppins",sans-serif;  
  color: black;
  text-align: center;

}

.text_profile h1 {
  text-transform: uppercase;

}

.column_testa {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.spacebelow {
  margin-bottom: 45px;

}

.text_sponsers {
  font-family: "Poppins",sans-serif;  
  color: black;
  text-transform: uppercase;
  position: absolute;
  font-size: 35px;
  margin-left: 10%;
  margin-top: 20%;

}

.spons_column {
  /*position: absolute;
  margin-left: 50%;
  margin-top: 20%;*/

  display: flex;
  justify-content: right;
  flex-direction: column;



}

.spons_column2 {
  /*position: absolute;
  margin-left: 50%;
  margin-top: 20%;*/

  display: flex;
  justify-content: right;
  flex-direction: column;



}

.all_column {
  display: flex;
  flex-direction: row;
  transform: scale(1.5);

}

.sponser_logo1 {
  transform: scale(.9);


}

.sponser_logo2 {
  transform: scale(.8);
  margin-right: 10%;


}

.sponser_logo3 {
  transform: scale(.9);


}

.sponser_logo4 {
  margin-top: 25%;
  
}

.column_absolute {
  position: absolute;
  margin-left: 50%;
  margin-top: 20%;

}

/*  */